body{
    padding: 12px;
    margin-bottom: 100%;
    background-color: rgba(255, 228, 196, 0.386);
    justify-content: center;
    align-items: center;
    text-justify: auto;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;

}

   h1{
    font-size: larger;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

.home{
    color:black;
}

.recipe{
    padding-left:20%;
    text-decoration: none;
}

.Contact{
    padding-left:17%;
    text-decoration: none;
}

